
/* s applique a tout le programme*/
*, ::before, ::after{
	box-sizing: border-box;
/* paginer tout le document*/	
     margin: 0;
     padding: 0;
}


body{
	max-width: 1300px;
	background-color:rgb(212, 212, 199);
	height: 200vh;
	margin: 5px;
	padding-left: 2%;
}
header.header{
	 display: flex;
	 margin: 10px;
}
.nav a {
     color: black;
     text-decoration: none;
}
nav.nav ul{
	 display:flex;
	 list-style-type:none;
	 justify-content: space-between;
	 min-width: 250px;
	 margin-left:800px ;


}
nav.nav a:hover{
     color: blue;
}
h1 {
	font-family: 'Inter', sans-serif;
	/*font italique ou oblique*/
	font-style: normal;
	/*taille  de fonte du text*/
	font-size: 20px;
	/*text en gras*/
	font-weight: bolder;
	line-height: 15px;
	color: rgb(7, 7, 7);
}
/*filtre*/
.bloc{
     vertical-align: middle;
     justify-content: space-between;
     width: 900px;
}
.button {
	border-radius: 10px;
	width: 80px;
	height: 40px; 
	padding:5px;
	margin: 5px;
	font-size: 20px;
}
.button1 {
    border:3px solid rgb(240, 237, 237);
	border-radius: 20px;
	width: 190px;
	height: 40px;
	font-size: 20px; 
}
.button1 i{
    border:3px solid rgb(240, 237, 237);  padding: 0; margin: 0;
	background-color:rgb(240, 237, 237) ;
	border-radius: 15px;
	width: 35px;
	height: 35px;
	font-size: 20px; 
}
.button2 {
	border:3px solid rgb(240, 237, 237);
	border-radius: 20px;
	width: 150px;
	height: 40px;
	font-size: 20px; 
}
.button2 i{
    border:3px solid rgb(240, 237, 237);  padding: 0; margin: 0;
	background-color:rgb(240, 237, 237) ;
	border-radius: 15px;
	width: 35px;
	height: 35px;
	font-size: 20px; 
}
.button3 {
	border:3px solid rgb(240, 237, 237);
	border-radius: 20px;
	width: 170px;
	height: 40px; 
	font-size: 20px;
}
.button3 i{
    border:3px solid rgb(240, 237, 237);  padding: 0; margin: 0;
	background-color:rgb(240, 237, 237) ;
	border-radius: 15px;
	width: 35px;
	height: 35px;
	font-size: 20px; 
}
.button4 {
	border:3px solid rgb(240, 237, 237);
	border-radius: 20px;
	width: 220px;
	height: 40px; 
	font-size: 20px;
}
.button4 i{
    border:3px solid rgb(240, 237, 237);  padding: 0; margin: 0;
	background-color:rgb(240, 237, 237) ;
	border-radius: 15px;
	width: 35px;
	height: 35px;
	font-size: 20px; 
}
.bloc1 i{
	flex-wrap: wrap;
    border:3px solid rgb(240, 237, 237);
	border-radius: 15px;
	width: 35px;
	height: 35px;
	font-size: 20px;
}
.blo{
	justify-content: space-between;
}

h2{
	font-weight: 100;
	font-size: 20px;
	line-height: 25px;
	color: var(--main-color);
	padding-bottom: 15px;
	margin-top: 0;
	text-align: justify;
	
}

h3 {
	font-weight: 10;
	font-size: 15px;
	line-height: 15px;
	color: black;
	margin-bottom: 0;
	margin: 10px;
}
/*bare de recherche*/
label{
	display: block;
	font: 1rem'Fira sans', sans-serif;
	margin: 10px;
}
input,
	label{
        margin: 0.4rem 0;
		margin: 10px;
    }

	/* bloc 6*/

.hebergements{
	/* mettre les element a la suite des autres*/
	display: flex;
	/* mettre les element en dessous des autres*/
	flex-wrap: wrap;
	margin: 4px;
	padding: 4px;
}
/* bloc 6 1*/

.Total button{
	border-style: none;
}
/* bloc 6 1*/
.Total{
	background-color: rgb(240, 237, 237);
	max-width: 800px;
	height: 90vh;
	margin: 4px;
	padding: 20px;
	border-radius: 20px;
}
.hebergements1{
	/* mettre les element a la suite des autres*/
	display: flex;
	/* mettre les element en dessous des autres*/
	flex-wrap: wrap;
	max-width: 760px;
	height: 70vh;
	border-radius: 20px;
}

.item{
	background-color:white;
	/* largeur image*/
	width: 240px;
	/* hauteur image*/
	height: 230px;
	margin: 4px;
	padding: 4px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 20px;
}

.item img{
	/* largeur image*/
	width: 230px;
	/* hauteur image*/
	height: 140px;
	overflow: hidden;
	flex-shrink: 0;
}
.heb{
	background-color:white;
	width: 230px;
	height: 155px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 20px;
}
	/* bloc 6 2*/
	.hebergements2{
		/* mettre les element a la suite des autres*/
		display: flex;
		/* mettre les element en dessous des autres*/
		flex-wrap: wrap;
		max-width: 400px;
		margin-left: 30px;
		padding: 30px;
		background-color: rgb(240, 237, 237);
		height: 90vh;
		border-radius: 20px;
	}
.item2{
	background-color:white;
	/* largeur image*/
	width: 350px;
	/* hauteur image*/
	height: 160px;
	margin: 4px;
	padding: 4px;
	overflow: hidden;
	flex-shrink: 0;
	border-radius: 20px;
	display: inline-block;
	vertical-align: top;
}
.etoile{
	margin: 10px;
}
.item2 img{
	/* largeur image*/
	width: 150px;
	/* hauteur image*/
	height: 150px;
	overflow: hidden;
	flex-shrink: 0;
}
.item22{
	background-color:white;
		/* largeur image*/
		width: 185px;
		/* hauteur image*/
		height: 150px;
		overflow: hidden;
		flex-shrink: 0;
		border-radius: 20px;
}
.C2etoiles{
	/*background: red;*/
	display: inline-block;
	cursor: pointer;
	color: blue;
}
/*.C2etoiles:hover{
	background:green;
}*/
.C2etoiles div{
	display: inline-block;
	/*padding: 0;*/
}
.C2etoiles div::after{
	content: "\002605";
}
.C2e{
	margin-top: 20px;
}
.C2{
	margin-top: 50px;
}
.item h4{
	padding-left: 4%;
}
.item h5{
	padding-left: 4%;
}
.etoiles{
	padding-left: 4%;
}
/* bloc*/
.bloc{
	display: flex;
	/* renvoyer vers la gauche*/
    padding-left: 30px;
	padding: 20px;

}
.items{
	background-color:white;
	border-radius: 20px;
	width: 280px;
	height: 370px; 
	margin: 10px;
	overflow: hidden;
	flex-shrink: 0;
}
.global h4{
	padding-left: 4%;
}
.items img{
	width: 280px;
	height: 330px;
}
.global{
	display: flex;
	flex-wrap: wrap;
}
.ile{

	flex-wrap: wrap;
}
.items1{
	background-color:white;
	border-radius: 20px;
	width: 280px;
	height: 190px; 
	margin: 10px;
	margin-left: 28px;
	overflow: hidden;
	flex-shrink: 0;
}
.items1 img{
	width: 280px;
	height: 150px;
}
.items2{
	background-color:white;
	border-radius: 20px;
	width: 280px;
	height: 170px; 
	margin: 10px;
	margin-left: 28px;
	margin-right: 28px;
	overflow: hidden;
	flex-shrink: 0;
}
.items2 img{
	width: 280px;
	height: 130px;
}


.archive{
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(240, 237, 237);
	max-width: 1300px;
	height: 25vh;
	margin-top: 50px;

}
.arch{
	margin-top: 20px;
	margin-left: 100px;
	margin-right: 100px;
}
.arch a {
	color: black;
	text-decoration: none;
}